<div id="timelog_tracker">
  <%= form_tag(:method => :post) do |f| %>
    <label for='timelog_tracker_issue_id'>
      Tracker:
    </label>
    <%= text_field_tag "timelog_tracker[issue_id]", nil, :size => 6, :required => true %>

    <%= select_tag "timelog_tracker[activity_id]", options_for_select(activity_collection_for_select_options), :required => true %>
    <%= submit_tag "Start", :class => "start-button" %>
    <%= submit_tag "Cancel", :class => "cancel-button" %>
    <%= submit_tag "Commit", :class => "commit-button" %>
    <%= submit_tag "Commit & Edit", :class => "commit-and-edit-button" %>
  <% end %>

  <div class="subtitle">
    <% issue = current_tracked_time_entry.issue if current_tracked_time_entry %>
    <span id="timelog_tracker_issue_name"><%= ("#{issue.tracker} ##{issue.id}: #{issue.subject.to_s.truncate(60)}") if issue %></span>

    <span id="timelog_tracker_time"></span>
  </div>
</div>

<%= javascript_include_tag 'timelog_tracker', plugin: 'espeo_timelog_tracker' %>
<%= stylesheet_link_tag 'timelog_tracker', plugin: 'espeo_timelog_tracker' %>

<%= javascript_tag do %>
  observeAutocompleteField('timelog_tracker_issue_id', '<%= escape_javascript auto_complete_issues_path(:scope => 'all')%>', {
    select: function(event, ui) {
      $('#timelog_tracker_issue_name').text(ui.item.label);
    }
  });

  timelogTracker._setCurrentTrackedTimeEntry((<%= current_tracked_time_entry.to_json.html_safe %> || {}).tracked_time_entry);
<% end %>
