<div id="timelog_tracker">
  <%= form_tag(:method => :post) do |f| %>
    <label for='timelog_tracker_issue_id'>
      <%= t(:tracker, scope: :timelog_tracker) %>:
    </label>
    <%= text_field_tag "timelog_tracker[issue_id]", nil, :size => 6, :required => true %>

    <%= select_tag "timelog_tracker[activity_id]", options_for_select(activity_collection_for_select_options(nil, @project)), :required => true %>
    <%= submit_tag t(:start, scope: :timelog_tracker), :class => "button start-button" %>
    <%= submit_tag t(:cancel, scope: :timelog_tracker), :class => "button cancel-button", :type => :reset %>
    <%= submit_tag t(:commit, scope: :timelog_tracker), :class => "button commit-button" %>
    <%= submit_tag t(:commit_and_edit, scope: :timelog_tracker), :class => "button commit-and-edit-button" %>
  <% end %>

  <div class="subtitle">
    <% issue = current_tracked_time_entry.issue if current_tracked_time_entry %>
    <span id="timelog_tracker_issue_name"><%= ("[#{issue.project.name}] #{issue.tracker} ##{issue.id}: #{issue.subject.to_s.truncate(60)}") if issue %></span>

    <span id="timelog_tracker_time"></span>
  </div>
</div>

<%= javascript_include_tag 'jquery.ba-throttle-debounce.min.js', plugin: 'espeo_timelog_tracker' %>
<%= javascript_include_tag 'timelog_tracker', plugin: 'espeo_timelog_tracker' %>
<%= stylesheet_link_tag 'timelog_tracker', plugin: 'espeo_timelog_tracker' %>

<%= javascript_tag do %>
  observeAutocompleteField('timelog_tracker_issue_id', '<%= escape_javascript autocomplete_issues_timelog_tracker_index_path(:project_id => @project) %>', {
    select: function(event, ui) {
      $(this).change();
      $('#timelog_tracker_issue_name').text(ui.item.label);
      if (ui.item.project && ui.item.project.activities.length) {
        timelogTracker.setActivities(ui.item.project.activities);
      }
    }
  });

  timelogTracker._setCurrentTrackedTimeEntry((<%= current_tracked_time_entry.to_json.html_safe %> || {}).tracked_time_entry);
<% end %>
